

.block-scroll {

	background-color: #af44c4;
	width: 700px;
	height: 100px;
	margin: 20px auto 20px auto;
	overflow: auto;
	float: left;
}
.boite-texte {
	background-color: #B3B3F1;
	width: 700px;
	height: auto;
	margin: auto;
	overflow: auto;
	float: right;

}
.boite-texte-musiques {
	background-color: yellow;
}

.fond-nav {
	width: 1000px;
	background-color: #333;
	margin: 0 auto;
	position: relative;
	overflow: auto;
	height: 50px;

}
.nav-principale {
	list-style: none;
	overflow: auto;
	width: 600px;
	position: absolute;
/***position du block***/
	top: 0;
	left: 240px;

}
.nav-principale a {
	background-color: yellow;
	display: block;
	width: 100px;
	text-decoration: none;
	text-align: center;
	margin-right: 5px;
	float: left;

}
